<div class="newsletter widget">

  <div class="content newsletter-header">
    <h2 class="newsletter-title">Subscribe to our newsletter</h2>
    <p><span class="newsletter-tagline">Receive updates and insights, right in your mailbox.</span><br>
      <span class="newsletter-small"> No spam. Unsubscribe anytime.</span>
    </p>
  </div>

  <form action="https://tinyletter.com/haiche" method="post" target="popupwindow"
    onsubmit="window.open('https://tinyletter.com/haiche', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
    <p><input type="text" style="width:140px" name="email" id="tlemail" onfocus="this.placeholder = ''"
        onblur="this.placeholder = 'Enter your Email'" placeholder="Enter your Email" /></p><input type="hidden"
      value="1" name="embed" /><input type="submit" value="Subscribe" />
    <p><a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a></p>
  </form>

</div>