<!-- Newsletter Signup -->
<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

<div id="revue-embed" class="revue-embed">
  <form action="https://tinyletter.com/haiche" method="post" target="popupwindow"
    onsubmit="window.open('https://tinyletter.com/haiche', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
      <div class="revue-header">
          <p>Subscribe to my newsletter</p>
      </div>
      <div class="revue-description">
          <p>Receive updates and insights, right in your mailbox.</p>
          <br>
          <p>Science/Technology, Software/AI, Business/Finance, and Culture/Fun.</p>
          <br>
          <p>No spam. Unsubscribe anytime.</p>
      </div>
      <div class="revue-input">
        <input type="email" class="button" name="email" id="member_email" placeholder="Your email address...">
        <input type="submit" class="button" name="member[subscribe]" id="member_submit" value="Subscribe">
    </div>
  </form>
</div>